extends layout

block content    
    h1= title
    p Welcome to #{title}
    img(src='images/image.png')
    div(class='js-content', id='js-content')
    a(href='about') About
block scripts
    script(src='js/script.js')